.topSummary{
  width: 800px;
  margin: 50px auto 0px;
  &__calorie{
    background-color: #eee;
    margin: 0px 0px 50px 0px;
    border-radius: 5px;
    &--title{
      .titleTop{
        background-color:#035184;
        color: #eee;
        border-radius: 5px;
        padding: 5px;
      }
      .titleRemaining{
        height: 50px;
        line-height: 50px;
        padding: 0px 0px 0px 100px;
      }
    }
    &--graphs{
      .graphStandard{
        margin: 0px 100px 50px;
      }
      .graphNow{
        margin: 0px 100px 50px;
        padding: 0px 0px 50px 0px;
      }
    }
    &--add{
      
    }
  }
  &__food{
    background-color: #eee;
    margin: 0px 0px 50px 0px;
    border-radius: 5px;
    &--title{
      background-color:#035184;
      color: #fff;
      border-radius: 5px;
      padding: 5px;
    }
    &--content{
      
    }
    
  }
  &__weight{
    background-color: #eee;
    border-radius: 5px;
    &--title{
      background-color:#035184;
      color: #fff;
      border-radius: 5px;
      padding: 5px;
    }
    &--content{
      margin: 50px 100px;
      padding: 0px 0px 50px 0px;
    }
  }
}