.header  
  .header__upper
    %div#logo= link_to "Macron", root_path
    %ul#navTop.nav
      %li.first
        %span Hi,
        = link_to "n,matsufuji06", "#"
      %li
        = link_to "Log Out", "#"