.header{
  margin: 0px 200px;
  &__upper{
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 1000px;
    margin: 0 auto;
    line-height: 100px;
    &--logo{
      color: #d0712f;
      font-size: 36px;
      font-weight: bold;
      text-decoration: none;
    }
    &--navTop{
      display: flex;
      .user{
        &__link{
          text-decoration: none;
          color: blue;
          margin-right: 20px;
        }
        &__edit{
          margin-right: 20px;
          text-decoration: none;
          color: blue;
        }
      }
      .logIn{
        margin-right: 20px;
        &__linkSimple{
          margin-left: 20px;
          text-decoration: none;
          color: blue;
        }
      }
      // .userEdit{
      //   &__link{
      //     margin-right: 20px;
      //     text-decoration: none;
      //     color: blue;
      //   }
      //   &__linkSimple{
      //     margin-left: 20px;
      //     text-decoration: none;
      //     color: blue;
          
      //   }
        
      // }
      .logOut{
        &__link{
          text-decoration: none;
          color: blue;
          border: solid 1px;
          border-radius: 10px;
          padding: 10px;
          
        }
        
      }
      
    }
  }
  &__bottom{
    &--menu{
      display: flex;
      background-color: #d0712f;
      height: 40px;
      line-height: 40px;
      .standard{
        margin-left: 220px;
        &__menu{
          color: #fff;
          font-weight: bold;
          text-decoration: none;
        }
      }
      .postsIndex, .postsNew{
        margin-left: 50px;
        &__menu{
          color: #fff;
          font-weight: bold;
          text-decoration: none;

        }
      }
    }
  }
}