.formStandard{
  &__upper{
    width: 100%;
    height: 200px;
    display: flex;
    &--userInfo{
      background-color: #aaa;
      width: 50%;
      padding: 50px;
      .sexStandard{
        .standardForm{
          
        }
        .label{
          
        }
      }
      .ageStandard{
        .label{
          
        }
        .standardForm{
          
        }
      }
    }
    &--metabolism{
      width: 50%;
      background-color: #bbb;
      padding: 50px;
      .label{
        
      }
      .standardForm{
        
      }
    }
  }
  &__main{
    height: 200px;
    display: flex;
    &--left{
      background-color: #ccc;
      width: 50%;
      padding: 50px;
      .weightStandard{
        .label{
          
        }
        .standardForm{
          
        }
      }
      .idealWeightStandard{
        .label{
          
        }
        .standardForm{
          
        }
      }
    }
    
    &--right{
      width: 50%;
      background-color: #ddd;
      padding: 50px;
      .macroStandard{
        display: flex;
        .carboStandard{
          .label{
  
          }
          .standardForm{
  
          }
        }
        .fatStandard{
          .label{
  
          }
          .standardForm{
            
          }
        }
        .proteinStandard{
          .label{
  
          }
          .standardForm{
            
          }
        }
  
      }
      .calorieStandard{
        .label{
  
        }
        .standardForm{
          
        }
      }
    }
  }

  &__bottom{
    background-color: #eee;
    &--submit{
      text-align: center;
      .submitBtn{
        display: inline-block;
        
      }
    }
  }
}