p{
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color:#035184;
  text-align: center;
  padding: 5px;
}

.formStandard{
  width: 1000px;
  margin: 0 auto;
  &__upper{
    width: 100%;
    height: 200px;
    display: flex;
    &--userInfo{
      width: 50%;
      padding: 50px;
      .sexStandard{
        margin: 0px 0px 20px 0px;
        text-align: center;
        .standardForm{
          display: inline-block;
        }
        .label{
          display: inline-block;
        }
      }
      .ageStandard{
        text-align: center;
        .label{
          display: inline-block;
        }
        .standardForm{
          display: inline-block;
        }
      }
    }
    &--metabolism{
      width: 50%;
      padding: 50px;
      text-align: center;
      .label{
        display: inline-block;
      }
      .standardForm{
        border-radius: 5px;
        display: inline-block;
      }
    }
  }
  &__main{
    height: 200px;
    display: flex;
    border: 3px solid #035184;
    border-radius: 10px;
    &--left{
      width: 50%;
      padding: 20px;
      .weightStandard{
        margin: 0px 0px 20px 0px;
        text-align: center;
        .label{
          display: inline-block;
        }
        .standardForm{
          border-radius: 5px;
          display: inline-block;
        }
      }
      .idealWeightStandard{
        text-align: center;
        .label{
          display: inline-block;
        }
        .standardForm{
          border-radius: 5px;
          display: inline-block;
        }
      }
    }
    
    &--right{
      width: 50%;
      padding: 25px;
      .macroStandard{
        display: flex;
        padding: 0px 40px;
        margin: 0px 0px 20px 0px;
        text-align: center;
        .carboStandard{
          width: 110px;
          margin: 0px 20px 0px 0px;
          .label{
            
          }
          .standardForm{
            width: 80px;
            border-radius: 5px;
          }
        }
        .fatStandard{
          width: 110px;
          margin: 0px 20px 0px 0px;
          .label{
            
          }
          .standardForm{
            width: 80px;
            border-radius: 5px;
          }
        }
        .proteinStandard{
          width: 110px;
          margin: 0px 20px 0px 0px;
          display: inline-block;
          .label{
            
          }
          .standardForm{
            width: 80px;
            border-radius: 5px;
          }
        }
        
      }
      .calorieStandard{
        padding: 0px 40px;
        .label{
          
        }
        .standardForm{
          border-radius: 5px;
        }
      }
    }
  }
  
  &__bottom{
    height: 100px;
    padding: 25px;
    &--submit{
      text-align: center;
      .submitBtn{
        background-color: #d0712f;
        color: #ffffff;
        border: 2px solid #d0712f;
        box-shadow: 3px 3px 3px #666666;
        margin: 0px 0px 20px 0px;
        padding: 10px 20px;
        border: none;
        display: inline-block;
        border-radius: 5%;
        text-align: center;
        line-height: 1em;
        transition: .3s;
        cursor: pointer;
      }
      .submitBtn:hover{
        box-shadow: none;
        color: #d0712f;
        background: #ffffff;
      }
    }
  }
}